<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>ListProduct</title>
</head>
<body>
<h3>Product List</h3>
<div class="notify">
    <div>
        <span th:text="${success}"></span>
    </div>
</div>
<form action="/products/findByName">
    Find by name <input type="search" placeholder="enter product name" name="findingName">
    <button>Search</button>
</form>
<p>
    <a th:href="@{/products/create}">
        Add new product
    </a>
</p>
<table id="products">
    <thead>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product,status : ${productList}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.description}"></td>
        <td><a th:href="@{/products/{id}/edit(id=${product.getId()})}">edit</a></td>
        <td>
<!--            <a th:href="@{/products/{id}/delete(id=${product.getId()})}">delete</a>-->
            <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal"
                    data-bs-target="#deleteModal"
                    th:onclick="'deleteProduct(\''+${product.id}+'\',\''+${product.name}+'\')'">Delete
            </button>
        </td>
        <td><a th:href="@{/products/{id}/details(id=${product.getId()})}">details</a></td>
    </tr>
    <tr>
        <td colspan="6" th:if ="${productList.isEmpty()}" th:text="${'Không có sản phẩm nào'}"></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
<!--MODAL-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/product/delete" method="get">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Product:</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure want to delete <span id="name"></span>?
                    <input type="hidden" id="id" name="id">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function deleteProduct(id, name) {
        document.getElementById("id").value=id;
        document.getElementById("name").innerText=name;
    }
</script>
</body>
</html>