<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>UpdateBlog</title>
</head>
<body>
<h3>Edit Blog</h3>
<p>
    <a class="btn btn-sm btn-outline-primary" th:href="@{/blog}">
        Back to Blog list
    </a>
</p>
<div id="form">
    <form th:action="@{/blog/update}" th:object="${blog}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label for="name">Blog Name</label>
            <input type="text" id="name" th:field="*{name}"/>
        </div>
        <div>
            <label for="content">Content</label>
            <textarea id="content" rows="10" cols="50" th:field="*{content}"></textarea>
        </div>
        <div>
            <label for="address">Remark</label>
            <input type="text" id="address" th:field="*{remark}"/>
        </div>
        <input type="submit" value="Edit"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>